![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [1]:
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['companies']
collection = db.companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [2]:
a = collection.find({'name': 'Babelgum'}, {'name': 1, '_id': 0})
for e in a:
    print(e['name'])

Babelgum

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [3]:
b = collection.find(
    {'number_of_employees': {'$gt': 5000}},
    {'name': 1, 'number_of_employees': 1, '_id': 0}
).sort('number_of_employees', -1).limit(20)

for e in b:
    print('{}: {} employees'.format(e['name'], e['number_of_employees']))

Siemens: 405000 employees
IBM: 388000 employees
Toyota: 320000 employees
PayPal: 300000 employees
Nippon Telegraph and Telephone Corporation: 227000 employees
Samsung Electronics: 221726 employees
Accenture: 205000 employees
Tata Consultancy Services: 200300 employees
Flextronics International: 200000 employees
Safeway: 186000 employees
Sony: 180500 employees
LG: 177000 employees
Ford: 171000 employees
Boeing: 160000 employees
Digital Equipment Corporation: 140000 employees
Nokia: 125000 employees
MItsubishi Electric: 107000 employees
MItsubishi Electric: 107000 employees
Comcast: 100000 employees
Bertelsmann: 100000 employees

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [4]:
c = collection.find(
    {'founded_year': {'$gte': 2000, '$lte': 2005}},
    {'name': 1, 'founded_year': 1, '_id': 0}
).sort('founded_year')

for e in c[:20]:
    print('{}: {}'.format(e['name'], e['founded_year']))

AllofMP3: 2000
Steorn: 2000
MeeVee: 2000
PhotoBox: 2000
Boonex: 2000
Sulake: 2000
SelectMinds: 2000
ContextWeb: 2000
ZoomInfo: 2000
eHarmony: 2000
Espotting: 2000
airG: 2000
Marchex: 2000
ContactOffice: 2000
WooMe: 2000
Boomi: 2000
zSlide: 2000
Phrasebase: 2000
Ubertor: 2000
JobDig: 2000

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [5]:
d = collection.find(
    {'ipo.valuation_amount': {'$gt': 100000000}, 'founded_year': {'$lt': 2010}},
    {'name': 1, 'ipo': 1, '_id':0})

for e in d:
    print('{}: {} {}'.format(e['name'], e['ipo']['valuation_amount'], e['ipo']['valuation_currency_code']))

Twitter: 18100000000 USD
Facebook: 104000000000 USD
Yelp: 1300000000 USD
LinkedIn: 9310000000 USD
Brightcove: 290000000 USD
Amazon: 100000000000 USD
KIT digital: 235000000 USD
Nielsen: 1600000000 USD
OpenTable: 1050000000 USD
ChannelAdvisor: 287000000 USD
Jive Software: 1000000000 USD
Zillow: 2550000000 USD
Wix: 750000000 USD
Shutterfly: 350000000 USD
TripAdvisor: 3273770000 USD
Salesforce: 110000000 USD
HomeAway: 3000000000 USD
QuinStreet: 140000000 USD
Rackspace: 5440000000 USD
BMC Software: 6000000000 USD
Higher One: 1060000000 USD
Infoblox: 824000000 USD
Tencent: 11000000000 USD
Marketo: 465000000 USD
Baidu: 4000000000 USD
Geeknet: 134000000 USD
Opsware: 450000000 USD
Telenav: 337000000 USD
Rally Software: 315000000 USD
BrightSource Energy: 1000000000 USD
Mixi: 970000000 USD
QlikTech: 1000000000 USD
Chegg: 1100000000 USD
Chegg: 1100000000 USD
Groupon: 12800000000 USD
SolarWinds: 803000000 USD
GREE: 108960000000 JPY
Tudou: 174000000 USD
DemandTec: 245000000 USD
Cornerstone OnDemand: 900000000 USD
Western Digital: 9430000000 USD
Millennial Media: 973500000 USD

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [11]:
e = collection.find(
    {'number_of_employees': {'$lt': 1000}, 'founded_year': {'$lt': 2005}}
).sort('number_of_employees', -1).limit(10)
for a in e:
    print('{}, {} employees, founded in {}'.format(a['name'], a['number_of_employees'], a['founded_year']))

Infinera Corporation, 974 employees, founded in 2000
NorthPoint Communications Group, 948 employees, founded in 1997
888 Holdings, 931 employees, founded in 1997
Forrester Research, 903 employees, founded in 1983
SonicWALL, 900 employees, founded in 1991
Webmetrics, 900 employees, founded in 1999
Cornerstone OnDemand, 881 employees, founded in 1999
Yelp, 800 employees, founded in 2004
ZoomInfo, 800 employees, founded in 2000
MySpace, 800 employees, founded in 2003

### 6. All the companies that don't include the `partners` field.

In [7]:
f = collection.find({'partners': {'$size': 0}}, {'name': 1, '_id': 0})
for e in f[:20]:
    print(e['name'])

AdventNet
Wetpaint
Zoho
Digg
Omnidrive
Postini
Flektor
Geni
Fox Interactive Media
Gizmoz
Helio
Lala
StumbleUpon
Slacker
Scribd
MeetMoi
Babelgum
Joost
CBS
Viacom

### 7. All the companies that have a null type of value on the `category_code` field.

In [8]:
g = collection.find({'category_code': None}, {'name': 1, '_id': 0})
for e in g[:20]:
    print(e['name'])

Collective
Snimmer
KoolIM
VidKing
Level9 Media
Drigg
SpaceTime
MMDAYS
Touch Clarity
Inside Group
Repeater Store
Tapesh
iPersians
NewPersia
Pyra Labs
Feedmap
NuvoMedia
Intwine
The Weinstein Company
ExecuNet

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [17]:
# h = collection.find({'employees': {'$gte': 100, '$lt': 1000}}, {'name': 1, 'number_of_employees': 1, '_id': 0})
h = collection.find(
    {'$and':[
        {'number_of_employees': {'$gte': 100}},
        {'number_of_employees': {'$lt': 1000}}]},
    {'name': 1, 'number_of_employees': 1, '_id': 0}
).sort('number_of_employees', -1)

for e in h[:20]:
    print('{}: {} employees'.format(e['name'], e['number_of_employees']))

Datamonitor: 984 employees
Infinera Corporation: 974 employees
Box: 950 employees
NorthPoint Communications Group: 948 employees
888 Holdings: 931 employees
Forrester Research: 903 employees
Workday: 900 employees
InMobi: 900 employees
Relax Solutions Pvt Ltd: 900 employees
SonicWALL: 900 employees
Webmetrics: 900 employees
Cornerstone OnDemand: 881 employees
Yelp: 800 employees
ZoomInfo: 800 employees
MySpace: 800 employees
Mozilla: 800 employees
Buongiorno: 800 employees
Cvent: 800 employees
Wayfair: 800 employees
BitDefender: 800 employees

### 9. Order all the companies by their IPO price descendently.

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [10]:
j = collection.find({'name':1, 'number_of_employees': 1, '_id': 0}).sort('number_of_employees', -1).limit(10)
for e in j:
    print('{}: {} employees'.format(e['name'], e['number_of_employees']))

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

### 12. All the companies that have been 'deadpooled' after the third year.

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.